.footer {
    background: rgba(51, 55, 59, 0.37);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    height: 100vh;
    top: 85%;
    .footerContainer {
        // width: 100%;
        // max-width: 1200px;
    }
}
