.SidebarContainer {
    display: none;
    @media (min-width: 768px) {
        display: block;
        position: relative;
        width: 100px;
        .aside1,
        .aside2 {
            position: fixed;
            top: 13%;
            left: 1.7%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            gap: 1.4rem;
            padding: 0.8rem 0.9rem;
            background: #1d2123;
            color: #efeee040;
            border-radius: 20px;
            .sidebarmenu {
                font-size: 1.5rem;
            }
            .sideImg1 {
                width: 100%;
            }
        }
        .aside1 {
            @media (max-width: 912px) {
                top: 9%;
            }
        }
        .aside2 {
            top: 320px;
            left: 1.7%;
        }
    }
}
